{% extends 'base.html.twig' %}

{% block body %}

    <h1>Renseignez le code de confirmation à 4 chiffres reçu par mail</h1>


    {% for message in app.flashes('denied') %}
        <div class="alert alert-danger mt-3" role="alert">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Envoyer" class="btn btn-primary">
    {{ form_end(form) }}

{% endblock %}