div.bg-yellow.d-flex {
    background-color: transparent !important;
    width: 85%;
    height: fit-content;
    margin: 0.5rem auto 0 auto;
    align-items: center;
    justify-content: space-between;
}
a#logo {
    text-align: start;
    align-items: center;
    margin: 0;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-transparent.nav-position {
    margin: 0 !important;
}

a#logo img {
    width: 10rem;
    text-align: start;
    margin: 0 !important;
}

div.navMobileView.collapse.navbar-collapse.justify-content-end {
    background-color: transparent;
    text-align: end !important;
    margin: auto;
}

a.nav-link {
    font-size: 0.7rem;
    color: white !important;
}

a.nav-link:hover {
    font-size: 0.7rem;
    color: #f6c700 !important;
    text-decoration-line: overline;

}

.navbar-brand img {
    width: 15rem;
}

.navbar-toggler {
    padding: 3px 5px;
}

.navbar-toggler-icon {
    width: 2rem;
}

.navMobileView {
    background-color: rgb(246, 199, 0);
    width: 45rem;
    height: auto;
}

.bg-transparent {
    background-color: transparent;
}

.bg-yellow {
    background-color: rgb(246, 199, 0);
}

.nav-position {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

li a:hover {
    text-decoration: none;
    color: black !important;
}

li a {
    text-align: center;
    font-size: 0.8rem;
}

/*Tablet*/
@media only screen and (min-width: 900px) {
    .nav-position {
        position: relative;
        margin: 0.5rem auto;
    }
}
