/* Mobil */
@media only screen and (max-width:1000px) {
    /*General*/

.container {
    width: 90%;
    margin: 2rem auto;
}

* {
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    letter-spacing: 0.04rem;
}

body {
    background-color: #222831;
    margin: 0;
    padding: 0;
}

.sectionBlock {
    width: 100%;
    margin: 3.5rem auto;
    text-align: center;
}

/* Titre */

h1 {
    font-family: 'Russo One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 0.9rem;
    margin: 2rem auto;
    text-align: justify;

}

.titrePage {
    text-align: center;
    margin: 0 0 1rem 0;
}

small {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.5rem;
}

span {
    display: block;
    width: 100%;
    margin: 1.5rem auto;
    color: red;
    font-size: 0.6rem;
}

.barreJaune {
    width: 10%;
    margin: 0.3rem auto;
    height: 1px;
    background-color: #F6C700;

}

/* Aficche */

section img {
    border-radius: 15px;
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}

div.affiche {
    text-align: center;
    margin: 1rem auto;
}

/* Buttons */

.blockButton {
    width: fit-content;
    margin: 2rem auto;
    text-align: center;
}

#voir {
    background-color: #f6c900;
    color: black;
    margin: auto 0.2rem;
    padding: 0.8rem 3.4rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
}

#voir:hover {
    background-color: black;
    color: #f6c900;
    margin: auto 0.2rem;
    padding: 0.8rem 3.4rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}

#relancer {
    background-color: rgb(0, 0, 0);
    margin: 1rem  0.2rem;
    padding: 0.8rem 3.4rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}

#relancer:hover {
    background-color: transparent;
    margin: 1rem 0.2rem;
    padding: 0.8rem 3.4rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    border: 1px solid #f6c900;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}


/* Storyline */

p {
    font-size: 0.7rem;
    width: 80%;
    margin: 2rem auto;
    text-align: justify;

}

/* Fonctionnalités */
div.fonctionnalites {
    width: 100%;
    margin: 2rem auto;
    text-align: center;

}

div.fonctionnalites div {
    width: 100%;
    margin: auto;
    text-align: center;

}

div.row.carreBlanc {
    display: inline-table;
    width: 100%;
    margin: auto;
}

div.col {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
}

.carreBlanc {
    width: 100%;
    margin: auto;
    height: auto;
    border: 1px solid white;
    border-radius: 10px;
    align-items: center;
    padding: 3rem;
}

a {
    margin: auto 0.4rem;
    font-size: 0.7rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: #f6c900;
}


/*Subtitres*/

h4 {
    font-size: 0.75rem;
    margin: 0 0.7rem 0 0;
    justify-content: start;

}

.subtitre {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: start;
    margin-top: 1.5rem;
}


#sectionCommentaire {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

/* Bande annonce */
iframe {
    width: 100%;
    height: 300px;
    margin: 1rem auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}

/* Commenter */

form {
    width: 100%;
    margin: 1rem auto;
}

form label {
    font-size: 0.74rem;
    margin: 0;
}

form input {
    width: 100%;
    margin: 0.3rem auto;
    padding: 0.4rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.8rem;
}

textarea {
    width: 100%;
    margin: 0.3rem auto;
    padding: 0.4rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.8rem;
}

form div {
    padding: 0.3rem;
}

form div:last-of-type {
    text-align: center;
}

form a {
    width: 100%;
    margin: 2rem auto auto;
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 0.63rem;
    text-decoration: none;
}


/*Button*/

#enregistrer {
    background-color: #F6C700;
    margin-top: 1rem;
    padding: 0.6rem 3rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    justify-content: center;
}

#enregistrer:hover {
    color: #F6C700;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    border-color: transparent;

}

/*Titre Commentaires*/
.titreCommentaire {
    width: 80%;
    margin: auto;
    text-align: start;
}

.nom {
    display: inline;
    margin: 0 0.5rem 0 0;
    font-size: 0.7rem;
}

.email {
    display: inline;
    margin: 0 0.5rem 0 0;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.5);
}

.date {
    display: inline;
    margin: 0 0.5rem 0 0;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.25);
}

.commentaire {
    font-size: 0.7rem;
    text-align: justify;

}

/*Commentaire*/

.carreBlanc {
    width: 100%;
    margin: 1.3rem auto;
    padding: 1px;
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
}

.ligneCarreBlanc {
    width: 80%;
    margin: 0.5rem auto;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

/*Voir, Editer, Supprimer*/
div.row {
    width: 80%;
    margin: auto;
}

a {

    text-decoration: none;
}

a:hover {
    color: #f6c900;
}

div.col1 {
    display: flex;
    align-items: center;
    width: 30%
}

div.col2 {
    width: 70%;
    text-align: end;
}

div.col2 a {
    font-size: 0.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*Likes*/
.thumpsUp {
    color: #08FF00;
    text-align: center;
    font-size: 0.65rem;
}

.thumpsDown {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 0.65rem;
}


/*Footer*/

footer p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 0.46rem;
    padding: 3rem;
}


}

/* Tablet */
@media only screen and (min-width:1000px) {
    /*General*/

.container {
    width: 90%;
    margin: 2rem auto;
}

* {
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    letter-spacing: 0.04rem;
}

body {
    background-color: #222831;
    margin: 0;
    padding: 0;
}

.sectionBlock {
    width: 100%;
    margin: 3.5rem auto;
}

/* Titre */

h1 {
    font-family: 'Russo One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 0.9rem;
    margin: 2rem auto;
    text-align: justify;

}

.titrePage {
    text-align: center;
    margin: 0 0 1rem 0;
}

small {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.5rem;
}

span {
    display: block;
    width: 100%;
    margin: 1.5rem auto;
    color: red;
    font-size: 0.6rem;
}

.barreJaune {
    width: 10%;
    margin: 0.3rem auto;
    height: 1px;
    background-color: #F6C700;

}

/* Aficche */

section img {
    border-radius: 15px;
    width: 80%;
    height: auto;
    margin: 0;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}

div.affiche {
    text-align: center;
    margin: 1rem auto;
}

/* Buttons */

.blockButton {
    width: fit-content;
    margin: 2rem auto;
    text-align: center;
}

#voir {
    background-color: #f6c900;
    color: black;
    margin: 1rem;
    padding: 0.8rem 3.4rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}

#voir:hover {
    background-color: black;
    color: #f6c900;
    margin: 1rem;
    padding: 0.8rem 3.4rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}

#relancer {
    background-color: rgb(0, 0, 0);
    margin: 1rem;
    padding: 0.8rem 3.6rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}

#relancer:hover {
    background-color: transparent;
    margin: 1rem;
    padding: 0.8rem 3.6rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    border: 1px solid #f6c900;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}


/* Storyline */

p {
    font-size: 0.7rem;
    width: 80%;
    margin: 2rem auto;
    text-align: justify;

}

/* Fonctionnalités */
div.fonctionnalites {
    width: 100%;
    margin: 2rem auto;
    text-align: justify;

}


div.row.carreBlanc {
    width: 100%;
    margin: auto;
}

div.col {
    width: 100%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.carreBlanc {
    width: 100% fit-content;
    margin: auto;
    height: auto;
    border: 1px solid white;
    border-radius: 10px;
    align-items: center;
    padding: 3rem;
}

a {
    margin: auto 0.4rem;
    font-size: 0.7rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: #f6c900;
}


/*Subtitres*/

h4 {
    font-size: 0.75rem;
    margin: 0 0.7rem 0 0;
    justify-content: start;

}

.subtitre {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: start;
    margin-top: 1.5rem;
}


#sectionCommentaire {
    text-align: center;
    padding: 1rem 0;
}

/* Bande annonce */
iframe {
    width: 65%;
    height: 300px;
    margin: 1rem auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}

/* Commenter */

form {
    width: 80%;
    margin: 1rem auto;
}

form label {
    font-size: 0.74rem;
    margin: 0;
}

form input {
    width: 100%;
    margin: 0.3rem auto;
    padding: 0.4rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.8rem;
}

textarea {
    width: 100%;
    margin: 0.3rem auto;
    padding: 0.4rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.8rem;
}

form div {
    padding: 0.3rem;
}

form div:last-of-type {
    text-align: center;
}

form a {
    width: 100%;
    margin: 2rem auto auto;
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 0.63rem;
    text-decoration: none;
}


/*Button*/

#enregistrer {
    background-color: #F6C700;
    margin-top: 1rem;
    padding: 0.6rem 3rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    justify-content: center;
}

#enregistrer:hover {
    color: #F6C700;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    border-color: transparent;

}

/*Titre Commentaires*/
.titreCommentaire {
    width: 80%;
    margin: auto;
    text-align: start;
}

.nom {
    display: inline;
    margin: 0 0.5rem 0 0;
    font-size: 0.7rem;
}

.email {
    display: inline;
    margin: 0 0.5rem 0 0;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.5);
}

.date {
    display: inline;
    margin: 0 0.5rem 0 0;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.25);
}

.commentaire {
    font-size: 0.7rem;
    text-align: justify;

}

/*Commentaire*/

.carreBlanc {
    width: 80%;
    margin: 1.3rem auto;
    padding: 1px;
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
}

.ligneCarreBlanc {
    width: 80%;
    margin: 0.5rem auto;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

/*Voir, Editer, Supprimer*/
div.row {
    width: 80%;
    margin: auto;
}

a {

    text-decoration: none;
}

a:hover {
    color: #f6c900;
}

div.col1 {
    display: flex;
    align-items: center;
    width: 30%
}

div.col2 {
    width: 70%;
    text-align: end;
}

div.col2 a {
    font-size: 0.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*Likes*/
.thumpsUp {
    color: #08FF00;
    text-align: center;
    font-size: 0.65rem;
}

.thumpsDown {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 0.65rem;
}


/*Footer*/

footer p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 0.46rem;
    padding: 3rem;
}


}

/* Ordinateur */
@media only screen and (min-width:1400px) {
    /*General*/

.container {
    width: 95%;
    margin: 2rem auto;
}

* {
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    letter-spacing: 0.04rem;
}

body {
    background-color: #222831;
    margin: 0;
    padding: 0;
}

.sectionBlock {
    margin: 3.5rem auto;
}

/* Titre */

h1 {
    font-family: 'Russo One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 0.9rem;
    margin: 2rem auto;
    text-align: justify;

}

.titrePage {
    text-align: center;
    margin: 0 0 1rem 0;
}

small {
    display: block;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.5rem;
}

span {
    display: block;
    width: 100%;
    margin: 1.5rem auto;
    color: red;
    font-size: 0.6rem;
}

.barreJaune {
    width: 10%;
    margin: 0.3rem auto;
    height: 1px;
    background-color: #F6C700;

}

/* Aficche */

section img {
    border-radius: 15px;
    width: 55%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}

div.affiche {
    text-align: center;
    margin: 1rem auto;
}

/* Buttons */

.blockButton {
    width: fit-content;
    margin: 2rem auto;
    text-align: center;
}

#voir {
    background-color: #f6c900;
    color: black;
    margin: auto 0.2rem;
    padding: 0.8rem 3.4rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
}

#voir:hover {
    background-color: black;
    color: #f6c900;
    margin: auto 0.2rem;
    padding: 0.8rem 3.4rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}

#relancer {
    background-color: rgb(0, 0, 0);
    margin: 1rem 0.2rem;
    padding: 0.8rem 1.8rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}

#relancer:hover {
    background-color: transparent;
    margin: auto 0.2rem;
    padding: 0.8rem 1.8rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    border: 1px solid #f6c900;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}


/* Storyline */

p {
    font-size: 0.7rem;
    width: 80%;
    margin: 2rem auto;
    text-align: justify;

}

/* Fonctionnalités */
div.fonctionnalites {
    width: 80%;
    margin: 2rem auto;
    text-align: justify;

}

div.row {
    width: 80%;
    margin: auto;
}

div.col {
    align-items: center;
    justify-content: center;
}

.carreBlanc {
    width: 100% fit-content;
    margin: auto;
    height: auto;
    border: 1px solid white;
    border-radius: 10px;
    align-items: center;
    padding: 3rem;
}

a {
    margin: auto 0.4rem;
    font-size: 0.7rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: #f6c900;
}


img#trailer {
    width: 45%;
    margin: auto;
}




/*Subtitres*/

h4 {
    font-size: 0.75rem;
    margin: 0 0.7rem 0 0;
    justify-content: start;

}

.subtitre {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: start;
    margin-top: 1.5rem;
}


#sectionCommentaire {
    text-align: center;
    padding: 1rem 0;
}

/* Bande annonce */
iframe {
    width: 65%;
    height: 400px;
    margin: 1rem auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.364);
}

/* Commenter */

form {
    width: 80%;
    margin: 1rem auto;
}

form label {
    font-size: 0.74rem;
    margin: 0;
}

form input {
    width: 100%;
    margin: 0.3rem auto;
    padding: 0.4rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.8rem;
}

textarea {
    width: 100%;
    margin: 0.3rem auto;
    padding: 0.4rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 0.8rem;
}

form div {
    padding: 0.3rem;
}

form div:last-of-type {
    text-align: center;
}

form a {
    width: 100%;
    margin: 2rem auto auto;
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 0.63rem;
    text-decoration: none;
}


/*Button*/

#enregistrer {
    background-color: #F6C700;
    margin-top: 1rem;
    padding: 0.6rem 3rem;
    border-radius: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.07rem;
    justify-content: center;
}

#enregistrer:hover {
    color: #F6C700;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
    border-color: transparent;

}

/*Titre Commentaires*/
.titreCommentaire {
    width: 80%;
    margin: auto;
    text-align: start;
}

.nom {
    display: inline;
    margin: 0 0.5rem 0 0;
    font-size: 0.7rem;
}

.email {
    display: inline;
    margin: 0 0.5rem 0 0;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.5);
}

.date {
    display: inline;
    margin: 0 0.5rem 0 0;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.25);
}

.commentaire {
    font-size: 0.7rem;
    text-align: justify;

}

/*Commentaire*/

.carreBlanc {
    width: 80%;
    margin: 1.3rem auto;
    padding: 1px;
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
}

.ligneCarreBlanc {
    width: 80%;
    margin: 0.5rem auto;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
}

/*Voir, Editer, Supprimer*/
div.row.carreBlanc {
    width: 80%;
    margin: auto;
}

a {

    text-decoration: none;
}

a:hover {
    color: #f6c900;
}

div.col1 {
    display: flex;
    align-items: center;
    width: 30%
}

div.col2 {
    width: 70%;
    text-align: end;
}

div.col2 a {
    font-size: 0.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*Likes*/
.thumpsUp {
    color: #08FF00;
    text-align: center;
    font-size: 0.65rem;
}

.thumpsDown {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 0.65rem;
}


/*Footer*/

footer p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 0.46rem;
    padding: 3rem;
}


}