/* Mobil */
@media only screen and (max-width:750px) {

    /*General*/

    .container {
        width: 85%;
        margin: 1rem auto;
    }

    * {
        font-size: 1.1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        letter-spacing: 0.04rem;
    }

    body {
        background-color: #222831;
        
        margin: 0;
        padding: 0;
    }

    main {
        text-align: center;
    }

    /*Titre pour la (Page SignUp)*/

    h1 {
        font-family: 'Russo One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.2rem;
        text-align: center;
    }

    small {
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-size: 0.65rem;

    }

    div.row {
        width: 100%;
        margin: 2rem auto;
    }

    div.col {
        display: inline-table;
        margin: 0.5rem auto;
        text-align: center;
        align-items: center;
    }

    span {
        font-family: 'Russo One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.8rem;
        color: #f6c900;
    }

    p {
        width: 100%;
        margin: 0.8rem auto;
        padding: 1rem;
        text-align: center;
        display: block;
        font-size: 0.8rem;
    }

    .commentaire {
        width: 90%;
        margin: 0.8rem auto;
        font-size: 0.6rem;
    }

    .logosFonctions {
        margin: auto 0.8rem;
    }

    .blockButton {
        width: 100%;
        margin: 1rem auto;
        text-align: center;
    }

    #commencer {
        background-color: black;
        color: #f6c900;
        margin: 0.5 auto;
        padding: 0.5rem 3rem;
        border-radius: 10px;
        font-size: 0.75rem;
        letter-spacing: 0.07rem;
    }

    #commencer:hover {
        background-color: #f6c900;
        color: black;
        margin: 0.5 auto;
        padding: 0.5rem 3rem;
        border-radius: 10px;
        font-size: 0.75rem;
        letter-spacing: 0.07rem;
    }

    .gallery-cell {
        width: 100%;
        height: auto;
        margin: 2rem 1rem;
        background: #f6c900;
    }

}

/* Tablet */
@media only screen and (min-width:750px) {

    /*General*/
    .container {
        width: 90%;
        margin: 1rem auto;
    }

    * {
        font-size: 1.1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        letter-spacing: 0.04rem;
    }

    body {
        background-color: #222831;
        margin: 0;
        padding: 0;
    }

    main {
        text-align: center;
    }

    /*Titre pour la (Page SignUp)*/

    h1 {
        font-family: 'Russo One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.8rem;
        text-align: center;
    }

    small {
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-size: 0.65rem;

    }

    div.row {
        width: 100%;
        margin: 2rem auto;
    }

    div.col {
        margin: 3rem auto;
        text-align: center;
        align-items: center;
    }

    span {
        font-family: 'Russo One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.8rem;
        color: #f6c900;
    }

    p {
        width: 60%;
        margin: 0.8rem auto;
        text-align: center;
        display: block;
        font-size: 0.8rem;
    }

    .commentaire {
        width: 90%;
        margin: 0.8rem auto;
        font-size: 0.6rem;
    }

    .logosFonctions {
        margin: auto 0.8rem;
    }

    .blockButton {
        width: 100%;
        margin: 1rem auto;
        text-align: center;
    }

    #commencer {
        background-color: black;
        color: #f6c900;
        margin: 0.5 auto;
        padding: 0.5rem 3rem;
        border-radius: 10px;
        font-size: 0.75rem;
        letter-spacing: 0.07rem;
    }

    #commencer:hover {
        background-color: #f6c900;
        color: black;
        margin: 0.5 auto;
        padding: 0.5rem 3rem;
        border-radius: 10px;
        font-size: 0.75rem;
        letter-spacing: 0.07rem;
    }

    .gallery-cell {
        width: 50%;
        height: auto;
        margin: 2rem 1rem;
        background: #f6c900;
    }

}

/* Ordinateur */
@media only screen and (min-width:1200px) {

    /*General*/

    .container {
        width: 100%;
        margin: 1rem auto;
    }

    * {
        font-size: 1.1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        letter-spacing: 0.04rem;
    }

    body {
        background-color: #222831;
        margin: 0;
        padding: 0;
    }

    main {
        text-align: center;
    }

    /*Titre pour la (Page SignUp)*/

    h1 {
        font-family: 'Russo One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.8rem;
        text-align: center;
    }

    small {
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-size: 0.65rem;

    }

    div.row {
        width: 100%;
        margin: 2rem auto;
    }

    div.col {
        margin: 3rem auto;
        text-align: center;
        align-items: center;
    }

    span {
        font-family: 'Russo One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.8rem;
        color: #f6c900;
    }

    p {
        width: 60%;
        margin: 0.8rem auto;
        text-align: center;
        display: block;
        font-size: 0.8rem;
    }

    .commentaire {
        width: 90%;
        margin: 0.8rem auto;
        font-size: 0.6rem;
    }

    .logosFonctions {
        margin: auto 0.8rem;
    }

    .blockButton {
        width: 100%;
        margin: 1rem auto;
        text-align: center;
    }

    #commencer {
        background-color: black;
        color: #f6c900;
        margin: 0.5 auto;
        padding: 0.5rem 3rem;
        border-radius: 10px;
        font-size: 0.75rem;
        letter-spacing: 0.07rem;
    }

    #commencer:hover {
        background-color: #f6c900;
        color: black;
        margin: 0.5 auto;
        padding: 0.5rem 3rem;
        border-radius: 10px;
        font-size: 0.75rem;
        letter-spacing: 0.07rem;
    }

    .gallery-cell {
        width: 30%;
        height: auto;
        margin: 1.5rem 0.5rem;
        background: #f6c900;
        counter-increment: gallery-cell;
    }


}