/*

Classes CSS Pour le pages: Login, SingUp, MotDePassee, Contact et 404.

Toutes les proprietes sont ou peuvent etre communs atoute les pages sauf
Les proprietes avec de () qui sont especifiques a la page qui font reference.

Example: 
Erreur 404 (Page 404) cet propriete est exclusive a la page 404, les proprietes
css seront appliques a cette page uniquement.

*/

/*Mobile*/
@media only screen and (max-width: 900px) {

    /*General*/

    .container {
        width: 100%;
        margin: 10% auto;
        
    }

    * {
        font-size: 1.1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        letter-spacing: 0.04rem;
    }

    body {
        background-color: #222831;
        margin: 0;
        padding: 0;
    }

    small,
    #user_plainPassword_help {
        display: block;
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.5rem;
    }

    /*Logo Principal (Page Login)*/

    .logo {
        text-align: center !important;
    }

    /*Titre pour la (Page SignUp)*/

    h1 {
        font-family: 'Russo One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2rem;
        text-align: center;
    }

    .titrePage {
        text-align: center;
        margin: 0 0 1rem 0;
    }

    .barreJaune {
        width: 10%;
        margin: 0.3rem auto;
        height: 1px;
        background-color: #F6C700;

    }

    /*Erreur 404 (Page 404) */

    div._404{
        margin-top: 20%;
        text-align: center;
    
    }

    div._404 p {
        text-align: center;
        font-size: 2rem;
        margin: 0;
        font-family: 'Russo one', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*Image Profil (Page Espace Personelle)*/

    div.imageProfile {
    
        width: 250px;
        height: 250px;
        box-sizing: content-box;
        border-radius: 100%;
        border: 2px solid #F6C700;
        background-color: #000000;
        margin: 3rem auto;
        box-sizing: content-box;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    
    }
    
    #image {
        width: 250px;
        height: 250px;
        margin: auto;
        border-radius: 100%;
        cursor: pointer;
    }

    /*Formulaire*/

    form {
        width: 80%;
        margin: auto;
    }

    form label {
        font-size: 0.74rem;
        margin: 0;
    }

    form input {
        width: 100%;
        margin: 0.3rem auto;
        padding: 0.4rem;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 0.8rem;
    }

    textarea {
        width: 100%;
        margin: 0.3rem auto;
        padding: 0.4rem;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 0.8rem;
    }

    form div {
        padding: 0.4rem;
    }

    form div:last-of-type {
        text-align: center !important;
    }

    form a {
        width: 100%;
        margin: 2rem auto auto;
        display: block;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 0.63rem;
        text-decoration: none;
    }

    a {
        width: 100%;
        margin: 1rem auto;
        display: block;
        color: rgba(255, 255, 255, 0.508);
        text-align: center;
        font-size: 0.63rem;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        color: #F6C700 !important;
    }

    .col {
        display: flex;
        justify-content: space-between;
    }

    /*Button*/

    #enregistrer {
        background-color: #F6C700;
        margin-top: 1rem;
        padding: 0.6rem 3rem;
        border-radius: 10px;
        font-size: 0.75rem;
        letter-spacing: 0.07rem;
        text-align: center;
    }

    #enregistrer:hover {
        color: #F6C700;
        background-color: rgb(0, 0, 0);
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
        border-color: transparent;

    }

    /*Footer*/

    footer p {
        color: rgba(255, 255, 255, 0.5);
        text-align: center !important;
        font-size: 0.46rem;
        padding-top: 14rem;
    }

}

/*Tablet*/
@media only screen and (min-width: 900px) {

    /*General*/

    .container {
        width: 75%;
        margin: 4rem auto;
        
    }

    * {
        font-size: 1.1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        letter-spacing: 0.04rem;
    }

    body {
        background-color: #222831;
        margin: 0;
        padding: 0;
    }

    small,
    #user_plainPassword_help {
        display: block;
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.5rem;
    }

    /*Logo Principal (Page Login)*/

    .logo {
        text-align: center !important;
    }

    /*Titre pour la (Page SignUp)*/

    h1 {
        font-family: 'Russo One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2rem;
        text-align: center;
    }

    .titrePage {
        text-align: center;
        margin: 0 0 1rem 0;
    }

    .barreJaune {
        width: 10%;
        margin: 0.3rem auto;
        height: 1px;
        background-color: #F6C700;

    }

    /*Erreur 404 (Page 404) */

    div._404{
        margin-top: 20%;
        text-align: center
    }
       
    div._404 p {
        text-align: center;
        font-size: 2rem;
        margin: 0;
        font-family: 'Russo one', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    /*Formulaire*/

    form {
        width: 50%;
        margin: auto;
    }

    form label {
        font-size: 0.74rem;
        margin: 0;
    }

    form input {
        width: 100%;
        margin: 0.3rem auto;
        padding: 0.4rem;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 0.8rem;
    }

    textarea {
        width: 100%;
        margin: 0.3rem auto;
        padding: 0.4rem;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 0.8rem;
    }

    form div {
        padding: 0.4rem;
    }

    form div:last-of-type {
        text-align: center;
    }

    form a {
        width: 100%;
        margin: 2rem auto auto;
        display: block;
        text-align: start;
        color: rgb(255, 255, 255);
        font-size: 0.63rem;
        text-decoration: none;
    }

    a {
        width: 100%;
        margin: auto;
        display: block;
        color: rgba(255, 255, 255, 0.508);
        text-align: center;
        font-size: 0.63rem;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        color: #F6C700 !important;
    }

    .col {
        display: flex;
        justify-content: space-between;
    }

    /*Button*/

    #enregistrer {
        background-color: #F6C700;
        margin-top: 1rem;
        padding: 0.6rem 3rem;
        border-radius: 10px;
        font-size: 0.75rem;
        letter-spacing: 0.07rem;
        justify-content: center;
    }

    #enregistrer:hover {
        color: #F6C700;
        background-color: rgb(0, 0, 0);
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
        border-color: transparent;

    }

    /*Footer*/

    footer p {
        color: rgba(255, 255, 255, 0.5);
        text-align: center !important;
        font-size: 0.46rem;
        padding-top: 15rem;
    }

}

/*Oridnateur*/
@media only screen and (min-width: 1400px) {

    /*General*/

    .container {
        width: 50%;
        margin: 4rem auto;
        
    }

    * {
        font-size: 1.1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        letter-spacing: 0.04rem;
    }

    body {
        background-color: #222831;
        margin: 0;
        padding: 0;
    }

    small,
    #user_plainPassword_help {
        display: block;
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.5rem;
    }

    /*Logo Principal (Page Login)*/

    .logo {
        text-align: center !important;
    }

    /*Titre pour la (Page SignUp)*/

    h1 {
        font-family: 'Russo One', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2rem;
        text-align: center;
    }

    .titrePage {
        text-align: center;
        margin: 0 0 1rem 0;
    }

    .barreJaune {
        width: 10%;
        margin: 0.3rem auto;
        height: 1px;
        background-color: #F6C700;

    }

    /*Erreur 404 (Page 404) */

    div._404{
        margin-top: 20%;
        text-align: center;
    
    }
    
    div._404 img {
        margin: 0;   
    }
    
    div._404 p {
        text-align: center;
        font-size: 2rem;
        margin: 0;
        font-family: 'Russo one', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    /*Formulaire*/

    form {
        width: 50%;
        margin: auto;
    }

    form label {
        font-size: 0.74rem;
        margin: 0;
    }

    form input {
        width: 100%;
        margin: 0.3rem auto;
        padding: 0.4rem;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 0.8rem;
    }

    textarea {
        width: 100%;
        margin: 0.3rem auto;
        padding: 0.4rem;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 0.8rem;
    }

    form div {
        padding: 0.3rem;
    }

    form div:last-of-type {
        text-align: center;
    }

    form a {
        width: 100%;
        margin: 2rem auto auto;
        display: block;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 0.63rem;
        text-decoration: none;
    }

    a {
        width: 100%;
        margin: 1rem auto;
        display: block;
        color: rgba(255, 255, 255, 0.508);
        text-align: center;
        font-size: 0.63rem;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
        color: #F6C700 !important;
    }

    .col {
        display: flex;
        justify-content: space-between;
    }

    /*Button*/

    #enregistrer {
        background-color: #F6C700;
        margin-top: 1rem;
        padding: 0.6rem 3rem;
        border-radius: 10px;
        font-size: 0.75rem;
        letter-spacing: 0.07rem;
        justify-content: center;
    }

    #enregistrer:hover {
        color: #F6C700;
        background-color: rgb(0, 0, 0);
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
        border-color: transparent;

    }

    /*Footer*/
    
    footer p {
        color: rgba(255, 255, 255, 0.5);
        text-align: center !important;
        font-size: 0.46rem;
        padding-top: 15rem;
    }

}