<!doctype html>
<html lang="fr">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Movies, Series, Films, Netflix, Amazon Prime Video, HBO, Rakuten TV, Disney+" />
    <meta name="description" content="Vous en avez assez de passer plus de temps à chercher quel film ou quelle serie
     voir que de regarder le film en lui-meme.Vous êtes au bon endroit, the lazy streaming est un moteur de recherche 
     aléatoire de films qui vous fera gagner beaucop de teps lors de la recherche d'un film ou d'une serie a regarder"/>
    <meta name="subject" content="Ramdom Movies and Series">
    <meta name="copyright" content="TheLazyStreaming">
    <meta name="language" content="FR">
    <meta name="TheLazyStreamingTEAM" content="TheLazyStreamingTEAM, adminl@admin.com">
    <meta name="designer" content="Christopher Luvumbo">
    <meta name="copyright" content="TheLazyStreaming">
    <meta name="owner" content="TheLazyStreamingTEAM">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/Logos/TheLazyStreaming.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="./css/styles.css">

    <!-- Titre de la page -->
    <title>Mot de passe oublié</title>
</head>

<body>

    <div class="container">

        <!-- Title -->
        <div class="titrePage">

            <img src="./assets/Logos/TheLazyStreamingHorizontal.png" alt="" width="130">

            <small>Saisissez l'adresse email associée à votre compte TheLazyStreaming</small>
            <h1>Réinitialisez votre compte</h1>
            <div class="barreJaune"></div>
        </div>

        <!-- Formulaire Mot de passe oublie -->
        <form action="">

            <div>
                <input type="email" placeholder="Entrez votre email"><br>
            </div>

            <div>           
                <button type="button" class="btn" id="enregistrer">Enregistrer</button>
            </div>

        </form>

    </div>

    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>

</body>

</html>