<!doctype html>
<html lang="fr">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Movies, Series, Films, Netflix, Amazon Prime Video, HBO, Rakuten TV, Disney+" />
    <meta name="description"
        content="Vous en avez assez de passer plus de temps à chercher quel film ou quelle serie
     voir que de regarder le film en lui-meme.Vous êtes au bon endroit, the lazy streaming est un moteur de recherche 
     aléatoire de films qui vous fera gagner beaucop de teps lors de la recherche d'un film ou d'une serie a regarder" />
    <meta name="subject" content="Ramdom Movies and Series">
    <meta name="copyright" content="TheLazyStreaming">
    <meta name="language" content="FR">
    <meta name="TheLazyStreamingTEAM" content="TheLazyStreamingTEAM, adminl@admin.com">
    <meta name="designer" content="Christopher Luvumbo">
    <meta name="copyright" content="TheLazyStreaming">
    <meta name="owner" content="TheLazyStreamingTEAM">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/Logos/TheLazyStreaming.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="./css/stylesResultPage.css">

    <!-- Titre de la page -->
    <title>Result Page</title>

</head>

<body>

    <div class="container">

        <!------------------------------------- MAIN ------------------------------------------->
        <main>


            <!-- Title -->
            <div class="titrePage">

                <img src="./assets/Logos/TheLazyStreamingHorizontal.png" alt="" width="130">

                <small>Nous avons trouve le titre suivant pour vous:</small>
                <h1>E.T L'extraterrestre</h1>
                <div class="barreJaune"></div>

            </div>

            <section class="sectionBlock">

                <div class="row carreBlanc">

                    <!-- StoryLine -->
                    <div class="col">

                        <div>
                            <p>
                                Après qu’un gentil extraterrestre se soit échoué sur Terre, l’être est découvert et
                                lié d’amitié par un jeune garçon nommé Elliott. En amenant l’extraterrestre dans sa
                                maison californienne de banlieue, Elliott présente E.T., comme l’alien est surnommé,
                                à son frère et à sa petite sœur, Gertie, et les enfants décident de garder son existence
                                secrète. Bientôt, cependant, E.T. tombe malade, entraînant l’intervention du
                                gouvernement
                                et une situation désastreuse pour Elliott et l’étranger.
                            </p>
                        </div>

                    </div>

                    <!-- Affiche -->
                    <div class="col">

                        <div class="affiche">
                            <img src="./assets/Afiches/Et.png" alt="" srcset="" id="image">
                        </div>

                    </div>

                    <!-- Fontionalites -->
                    <div class="col">

                        <div class="fonctionnalites">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#f6c700"
                                    viewBox="0 0 16 16" class="logosFonctions">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                    <path
                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                                </svg>
                                <a href="">Marquer comme vue</a>
                            </div>

                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#f6c700"
                                    viewBox="0 0 16 16" class="logosFonctions">
                                    <path
                                        d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z" />
                                </svg>
                                <a href="">Ajouter a ma lise a regarder plus tard</a>
                            </div>

                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#f6c700"
                                    viewBox="0 0 16 16" class="logosFonctions">
                                    <path fill-rule="evenodd"
                                        d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.253L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.253l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z" />
                                </svg>
                                <a href="">Ajouter a ma liste de favoris</a>
                            </div>

                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#f6c700"
                                    viewBox="0 0 16 16" class="logosFonctions">
                                    <path
                                        d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z" />
                                </svg>
                                <a href="">Commenter</a>
                            </div>

                            <em><span>Veuillez vous connecter pour acceder a cette fonctionnalité</span></em>

                        </div>

                        <div class="blockButton">

                            <button type="button" class="btn" id="voir">Voir</button>
                            <button type="button" class="btn" id="relancer">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f6c700"
                                    viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                                    <path
                                        d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                                </svg>
                            </button>

                        </div>

                    </div>

                </div>
           
            </section>

            </section>

        </main>

        <!-------------------------------------------FOOTER ----------------------------------------->

        <footer>
            <p>© 2021 TheLazyStreaming. All Rights Reserved.</p>
        </footer>


    </div>

    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>

</body>

</html>