{% block body %}

<h1>Nous contacter</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-3" role="alert">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Envoyer" class="btn btn-primary">
    {{ form_end(form) }}


{% endblock %}